@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul,
ol,
li {
  list-style-type: none;
}

body {
  font-family: sans-serif;
  max-width: 76.25rem;
  margin: auto;
  padding: 1.25rem;
  @apply bg-gray-700 text-slate-100;
}
h2,p,a,li {
  @apply text-gray-700;
}